@font-face {
  font-family: 'HankenGrotesk';
  src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
  font-family: 'HankenGroteskBold';
  src: url('/assets/fonts/static/HankenGrotesk-Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'HankenGroteskExtraBold';
  src: url('/assets/fonts/static/HankenGrotesk-ExtraBold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'HankenGroteskMedium';
  src: url('/assets/fonts/static/HankenGrotesk-Medium.ttf')
    format('truetype');
}
* {
  box-sizing: border-box;
  font-family: 'HankenGrotesk', sans-serif;
}
body {
  margin: 0;
  width: 100vw;
  height: 100svh;

  background-color: #3f3f3f;
  display: flex;
  align-items: center;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
p {
  margin: 0;
  padding: 0;
}

.mainContainer {
  width: 100vw;
  height: fit-content;

  background-color: white;

  padding-bottom: 0.5rem;

  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: center;

  // border: 3px solid red;

  .resultCard {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-image: linear-gradient(#6845fa, #332be6);

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    .resultHeader {
      width: 100%;
      text-align: center;
      padding-top: 4rem;
      color: #b3a2f8;

      font-family: 'HankenGroteskBold', sans-serif;
    }

    .resultCircle {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;

      border-radius: 100%;
      width: 125px;
      height: 125px;

      background-image: linear-gradient(#4924d3, #4734f0);

      .bigResult {
        font-size: 3rem;
        color: white;
        font-family: 'HankenGroteskBold', sans-serif;
      }

      .smallResult {
        color: #847aff;
        font-family: 'HankenGrotesk', sans-serif;
      }
    }

    .resultTextContainer {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0.5rem;
      padding: 0.5rem 4rem 2rem 4rem;

      .resultTextHeader {
        font-size: 1.25rem;
        color: white;
        font-family: 'HankenGroteskBold', sans-serif;
      }

      .resultText {
        font-size: 0.9rem;
        color: #bbb6ff;
        font-family: 'HankenGroteskMedium', sans-serif;
      }
    }
  }

  .summaryCard {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .summaryCardHeader {
      width: 100%;
      margin-top: 1rem;
      padding-left: 1.5rem;

      font-family: 'HankenGroteskBold', sans-serif;
    }

    .statsContainer {
      width: 100%;
      height: 100%;
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      // border: 3px solid blue;

      .statContainer {
        display: flex;
        justify-content: space-between;

        .iconAndCategory {
          display: flex;
          gap: 0.5rem;
        }

        .statScore {
          color: gray;
        }
      }
    }

    .continueButton {
      font-family: HankenGroteskBold;
      background-color: #303b59;
      border: none;
      border-radius: 100px;
      color: white;
      padding: 15px 35%;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.attribution {
  display: none;
  width: 100vw;
  padding: 3px;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  text-align: center;

  border: 2px solid black;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media only screen and (min-width: 540px) {
  .mainContainer {
    flex-direction: row;
    // height: 450px;
    // height: auto;

    justify-content: start;
    align-items: center;

    border-radius: 30px;

    padding-bottom: 0;

    .resultCard {
      width: 50%;
      height: 400px;

      justify-content: start;
      border-radius: 30px;

      .resultHeader {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      .resultCircle {
        width: 150px;
        height: 150px;
        gap: 0;
      }
    }

    .summaryCard {
      width: 50%;
      height: 400px;

      justify-content: start;

      padding-bottom: 1rem;

      .summaryCardHeader {
        margin-top: 2rem;
      }

      .continueButton {
        width: 250px;
        padding: 15px 20%;
      }
    }
  }
}
