@font-face {
  font-family: 'HankenGrotesk';
  src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
  font-family: 'HankenGroteskBold';
  src: url('/assets/fonts/static/HankenGrotesk-Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'HankenGroteskExtraBold';
  src: url('/assets/fonts/static/HankenGrotesk-ExtraBold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'HankenGroteskMedium';
  src: url('/assets/fonts/static/HankenGrotesk-Medium.ttf')
    format('truetype');
}
* {
  box-sizing: border-box;
  font-family: 'HankenGrotesk', sans-serif;
}
body {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}

.mainContainer {
  width: 100vw;
  height: 90svh;

  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: center;

  // border: 3px solid red;

  .resultCard {
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(#6c4fe5, #2e2ce9);

    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }

  .summaryCard {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .summaryCardHeader {
      width: 100%;
      margin-top: 1rem;
      padding-left: 1.5rem;

      font-family: 'HankenGroteskBold', sans-serif;
    }

    .statsContainer {
      width: 100%;
      height: 100%;
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      // border: 3px solid blue;

      .statContainer {
        display: flex;
        justify-content: space-between;

        .iconAndCategory {
          display: flex;
          gap: 0.5rem;
        }

        .statScore {
          color: gray;
        }
      }
    }

    .continueButton {
      font-family: HankenGroteskBold;
      background-color: #303b59;
      border: none;
      border-radius: 100px;
      color: white;
      padding: 15px 35%;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.attribution {
  // display: none;
  position: absolute;
  bottom: 2svh;
  font-size: 16px;
  text-align: center;

  border: 2px solid black;

  a {
    color: hsl(228, 45%, 44%);
  }
}
